.input-text{
    margin: 10px;
    text-align: center;
}

.input-login{
    border-radius: 5px;
    border-style: none;
    height: 40px;
}

.input-login:focus{
    width: 90%;
}

.botao-login{
    text-align: center;
}

#botao-login:hover{
  /* fallback for old browsers */
  background: #3aa700;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(89, 255, 0, 0.5), rgba(0, 204, 0, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(89, 255, 0, 0.5), rgba(0, 204, 0, 0.5))
}

#card-login{
    
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5))
}